# Compiler files
cache/
out/

# Development broadcast logs (31337 is common for local testing)
broadcast/
!broadcast/.gitignore  # Allows you to keep an empty folder in Git if needed

# Docs
docs/

# Environment files
.env

# Dependencies
lib/


# VS Code settings
.vscode/
